html{
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    height: 100vh;
}

header{
    background-color: #1F2937;
    color: #f9faf8;
}

.top_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: min-content;
}

ul{
    display: flex;
}

ul li{
    list-style-type: none;
}

.nav_item{
    margin-left: 34px;
}

/* .header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    flex: 1;
} */

/* .top_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* .logo_text_header {
    font-size: 24px;
} */

/* .top_nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
} */

/* .content_header{
    display: flex;
    flex: 1;    
    padding: 120px 0;
    align-self:center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.main_text_header{
    font-size: 48px;
    font-weight: bolder;

}

.left_content_header{
    width: 50%;
    margin-right: 20px;
    overflow-wrap: break-word;
    
}

.right_header{
    align-self: stretch;
    background-color: wheat;
    width: 45%;
    
}

.secondary_text_header {
    margin:10px 0;
    font-size: 18px;
} */

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_main_content{
    font-size: 36px;
    font-weight: bolder;
    margin-top: 40px;
}

.image_container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 30px;


}

.image_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.description{
    max-width: 120px;
    padding: 10px;
    text-align: center;
}

.image_box {
    display: flex;
    border: #3882f6 solid 3px;
    border-radius: 12px;
    width: 120px;
    height: 120px;

}


.quote_container {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    padding: 60px 480px;
    flex-wrap: wrap;
    flex: 1;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 20px;
    font-weight: 100;
    text-align: center;
}

.author {
    align-self:flex-end;
    font-weight: bold;
    align-self: center;
}

.link_box {
    display: flex;
    margin: 80px 360px;
    justify-content:center;
    align-items: center;
    background-color: #3882f6;
    padding: 30px;
    border-radius: 12px;
    gap:12%;
    
}

.link_box > button {
    border: #f9faf8 solid 1px;
    margin: 0 20px;
}

.catch_phrase, .second_phrase{
    color: #f9faf8;
}

.catch_phrase{
    font-size: 24px;
    font-weight: bolder;
}

.footer {
    align-items: center;
    padding: 30px;
}

